body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.fixed-pos {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

.top-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 53px;
  padding: 4px 15px 2px;
  border-bottom: 1px solid #a03f3f
}

.nav-buttons {
  display: inline-flex;
  align-items: center;
}

.nav-buttons>button {
  background-color: transparent;
  border: 0;
  padding: 8px 9px 9px;
  width: 34px;
  height: 33px;
}

.nav-buttons>button>svg {
  width: 16px;
  height: 16px;
}

.nav-buttons>div>a {
  font-size: 14.25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
  color: black;
}

.title {
  display: inherit;
}

.title>div {
  align-items: center;
  text-align: center;
  align-self: center;
}

.title>div>a>svg {
  width: 195px;
  height: 26.48px;
}

.ui {
  display: inherit;
}

.ui>div {
  text-align: right;
  align-self: center;
}

.ui>div>button {
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 12px 8px 12px;
}

.top-section {
  text-align: center;
  margin: auto;
  width: 1200px;
  padding-top: 96px;
}

.top-img{
  display: inline-block;
}

.img-title {
  font-size: 2.5rem;
  margin: 0 20px 1rem;
  font-weight: 700;
  font-style: italic;
  color: #121212;
  width: 600px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 3rem;
  font-family:nyt-cheltenham, georgia, "times new roman", times, serif;
}

.img-title>span {
  display: inline-block;
}

.img-div {
  text-size-adjust: 100%;
  margin-top: 25px;
}

.img-div>img {
  width: 100%;
}

.img-desc{
  width: 900px;
  text-align: left;

}

.img-desc>figcaption>span {
  margin-right: 7px;
  color: #666;
  word-wrap: break-word;
  font-family:nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.9375rem;
  font-weight: 400;

}

.img-desc-p{
  color: #888 !important;
  font-size: 13px !important;
}

.author, .article-body { /* change */
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #121212;
}

.author>div>p {
  font-weight: 700;
  color: #333;
  letter-spacing: 0.02em;
}

.author>div>p>a {
  color: #333;
  text-decoration: none;
}

.author>ul, .author-social-network>ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}

/* font-size: 0.8125rem;
    line-height: 1rem;
    margin-bottom: 0;
    margin-top: 0;
} */

.author-social-network>ul>li{
  color: #999;
  display: inline;
  margin-right: 16px;
  padding: 10px 0;
  width: 100%;
}

.social-network-icon {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  padding: 0;
  margin: 0;
  border: none;
  line-height: normal;
}

.share-btn {
  background: transparent;
  display: inline-block;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 27px;
  height: 27px;
}

.save-btn {
  background-color: rgb(255, 255, 255);
}

.comments-bubble-btn {
  align-self: center;
  background-color: transparent;
  bottom: 0.05rem;
  color: rgb(102, 102, 102);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  height: 25px;
  line-height: 1rem;
  margin-left: 2px;
  min-width: 24px;
  position: relative;
  text-transform: uppercase;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  overflow: visible;
  padding: 0px 0px 4px;
}

.comments-icon {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 26px;
  min-height: 14px;
  position: relative;
  width: auto;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(102, 102, 102);
  border-image: initial;
  border-radius: 4px;
  padding: 4px;
}

.comments-icon::before {
  bottom: -7px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0px;
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 8px;
}

.comments-icon::after {
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0px;
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
}

.p-container>p>a {
  text-decoration: underline;
  color: #326891;
}